.post
{
    padding-left: 3em !important;
}

.like .fa-heart
{
    color: rgb(0, 0, 0); 
    position: relative !important; 
    font-size: 23px;
}

.like .fa-heart:hover
{
    color: brown;
}


.flexContainer 
{
    display: flex;
    width: 100%;
}

.inputField 
{
    /* flex: 2; */
    width:10em !important;
}

@media only screen and (max-width: 768px) 
{
    .post
    {
        padding-left: 1em !important;
        padding-left: 1em !important;
    }

    .comment-button
    {
      width:20px !important;
    }

}
