.profile-container
{
    margin-left: 5em !important;
    margin-right: 5em !important;
    margin-bottom: 2em !important;
}
.profile-row
{
    min-height: 12em;
}
.profilephoto 
{
    width: 10em;
    height: 10em;
    border-radius: 50%;
    border: 2px solid rgb(209, 209, 209);
    margin-right: 7px;
}