{% extends "includes/base.html" %}
{% load static %}


{% block content %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/edit_profile.css' %}">
{% endblock %}

<div class="container mt-4 profile-container">
  {% if messages %}
  <div class="messages">
      {% for message in messages %}
      <div {% if message.tags %} class="alert alert-sm alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
      {% endfor %}
  </div>
  {% endif %}
  <div class="row profile-row">
    <div class="col-md-4 col-sm-12 text-center">
        <img src="{{ profile_details.profile_photo.url }}" class="profilephoto img-fluid mr-3" />     
    </div>
    <div class="col-md-8 col-sm-12">
        <div class="card p-4 pt-3">
            <div class="text-center "><h5 class="font-weight-bold">EDIT PROFILE</h5></div>
            
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">
                  <img src="{{ profile_details.profile_photo.url }}" class="mb-2 ml-5" style="width: 4em; height: 4em; border-radius: 50%;"/>
                </label>
                <div class="col-sm-9 profile-">
                  <p class="mb-0 h5">{{ user.username }}</p>
                  <h6 class="font-weight-bold" data-toggle="modal" data-target="#profileModal">Change Profile Picture</h6>
                </div>
              </div>
     
            <form method="POST" action="">
                {% csrf_token %}
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Name</label>
                  <div class="col-sm-9">
                    <input required type="text" name="name" class="form-control" value="{{ user.name }}">
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Username</label>
                  <div class="col-sm-9">
                    <input required type="text" readonly name="username" class="form-control" value="{{ user.username }}">
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Bio</label>
                  <div class="col-sm-9">
                    <input type="textarea" name="bio" class="form-control" value="">
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Email</label>
                  <div class="col-sm-9">
                    <input required type="text" name="email" class="form-control" value="{{ user.email }}">
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Phone number</label>
                  <div class="col-sm-9">
                    <input required type="text" name="phone" class="form-control" value="{{ user.phone }}">
                  </div>
                </div>
           
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Gender</label>
                  <div class="col-sm-9">
                    <select class="custom-select mr-sm-2" name="gender" >
                    <option selected disabled>Choose Gender..</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Custom">Custom</option>
                  </select>
                  </div>

                  
                </div>              
               
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label"></label>
                  <div class="col-sm-9">
                      <button type="submit" class="btn btn-primary">Save</button>
                  </div>
                </div>
              </form>
        
        </div>

    </div>
  </div>
</div>


<!-- Profile Modal -->
<div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="profileModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/account/update" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group" >
            <input type="file" name="image">
          </div>
          <div class="text-center">
              <button type="submit" class="btn btn-outline-primary">Save profile</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% include "includes/footer.html" %}
{% endblock %}