{% load static %}
<link rel="stylesheet" href="{% static './css/footer.css' %}" />

<footer>
<div class="ml-2 mt-2 text-center" style="color: rgb(129, 129, 129) !important; font-size: 13px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
    <span>
      <a href="https://about.instagram.com/" target="_blank" class="footerlinks">About</a> 
      <a href="https://help.instagram.com/" target="_blank" class="footerlinks">Help</a> 
      <a href="https://about.instagram.com/blog/" class="footerlinks">Press</a> 
      <a href="https://www.instagram.com/developer/" class="footerlinks">API</a> 
      <a href="https://www.instagram.com/about/jobs/" class="footerlinks">Jobs</a> 
      <a href="https://www.instagram.com/legal/privacy/" class="footerlinks">Privacy</a></span>
      <span>
        <a href="https://www.instagram.com/legal/terms/" class="footerlinks">Terms</a> 
        <a href="https://www.instagram.com/explore/locations/" class="footerlinks">Locations</a> 
        <a href="https://www.instagram.com/directory/profiles/" class="footerlinks">Top Accounts</a> 
        <a href="https://www.instagram.com/directory/hashtags/" class="footerlinks">Hash Tags</a> 
      </span>
      <p></p>
    <p style="font-size: 12px;">© 2021 INSTAGRAM FROM FACEBOOK</p>
  </div>
</footer>