 
  <!-- Modal -->
  <div class="modal fade" id="photDetailsModal" tabindex="-1" aria-labelledby="photDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="photDetailsModalLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5 class="mx-5 font-weight-bold"><span class="caption"></span></h5>
          <div class="px-4 text-center" style="overflow-x: auto;">
            <img id="image" src="" class="mb-2" style="width: auto; max-height: 70vh;"/>
          </div>
           <!-- SHOW NO OF LIKES OF THE IMAGE -->
          <span class="postuserfont px-5">
            <span class="likes"></span> people like this post
          </span>
         
          <!-- START OF COMMENT SECTION  -->
          <div class="card-body mx-5" style="margin-top: -15px">
            <p
              class="card-text postuserfont mt-2" style="margin-left: -4px;margin-top: -14px;color: rgb(139, 133, 133);">
              Comments
            </p>
            {% if comments %}
              {% for comment in comments %}
                      {% if post.id == comment.post.id %}
                  <p class="card-text postuserfont mb-0">
                    <strong style="margin-left: -4px; margin-right: 5px">{{ comment.user.username }}</strong
                    >{{ comment.comment }}
                  </p>
                {% endif %}
              {% endfor %}
            {% endif %}
          </div>  
        <!-- END OF COMMENT SECTION  -->
        <!-- START OF COMMENT FORM -->
          <form class="card" action="/comment/{{ post.id }}" method="POST">
            {% csrf_token %}
            <div class="flexContainer">
              <input type="text" name="comment"  style="padding-top: 1em;padding-bottom: 1em;padding-left:1em;width: 80% !important; border: none;"  class="inputField" placeholder="Write your comment ... ">
              <button  class="btn btn-outline-secondary rounded-0" type="submit">Comment</button>
            </div>
          </form>
        <!-- END OF COMMENT FORM -->



        </div>
       
      </div>
    </div>
  </div>

<script>
  
  function populateForm(id) 
  {

  $(document).ready(function()
  {
      var urls=`${window.location.origin}/getImage/${id}/`
      console.log(urls)
        $.ajax({
          type:'GET',
          
          url:urls,
          success: function(response)
          {
           
            console.log(response[0].fields.post_image);
          //  $('#location').text(data.location);
              // $('.name').text(data.image_name);
          //     $('.date').text(data.pub_date);
              var likes=response[0].fields.likes.length
              $('.caption').text(response[0].fields.caption);
              $("#image").attr("src","https://res.cloudinary.com/dw6wdyms4/"+response[0].fields.post_image);
              $('.likes').text(likes);
              
                     
          },

          error: function(response)
          {
            alert('No data Found')
          }

        });
      // },100000);
  })
  }
</script>