 
  <!-- Modal -->
  <div class="modal fade" id="photDetailsModal" tabindex="-1" aria-labelledby="photDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="photDetailsModalLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5 class="mx-5 font-weight-bold"><span class="caption"></span></h5>
          <div class="px-4 text-center details-image" style="overflow-x: auto;">
            <img id="image" src="" class="mb-2" />
          </div>
           <!-- SHOW NO OF LIKES OF THE IMAGE -->
          <span class="postuserfont px-5">
            <span class="likes"></span> people like this post
          </span>
          <span class="postuserfont px-5 d-block">
            <span class="date_posted"></span> 
          </span>
        </div>
       
      </div>
    </div>
  </div>

<script>
  
  function populateForm(id) 
  {

  $(document).ready(function()
  {
      var urls=`${window.location.origin}/getImage/${id}/`
      console.log(urls)
        $.ajax({
          type:'GET',
          
          url:urls,
          success: function(response)
          {
           
            console.log(response[0].fields.post_image);
          //  $('#location').text(data.location);
              // $('.name').text(data.image_name);
          //     $('.date').text(data.pub_date);
             var likes=(response[0].fields.likes.length)
              if(likes>0){
                likes=likes/5
              }
              $('.date_posted').text(response[0].fields.date_posted);
              $('.caption').text(response[0].fields.caption);
              $("#image").attr("src","https://res.cloudinary.com/dw6wdyms4/"+response[0].fields.post_image);
              $('.likes').text(likes);
                     
          },

          error: function(response)
          {
            alert('No data Found')
          }

        });
  })
  }
</script>